# python
__pycache__/
*.py[cod]
*$py.class
venv

# training and test data
data/test.en.2008
data/train.en.2007

# temporary outputs
src/vec2sent/evaluation/bleu/bleu-hypothesis
src/vec2sent/evaluation/bleu/bleu-reference

# IDE
.idea
